@import 'utils/variables';
@import 'utils/timing-functions';

.panel {
    margin-left: 50%;
    padding: 60px 0;
    width: 50%;

    h2 {
        color: $light-grey;
        font-size: 60px;
        letter-spacing: 0.05em;
        line-height: 0.05em;
        margin-bottom: 0.75em;
        margin-top: 0;
        overflow: hidden;
        padding-top: 0.5em;
        text-align: center;
    }

    img {
        width: 100%;
    }

    .section {
        &--intro {
            .intro__menu {
                margin-bottom: 75px;
            }

            .intro__logo {
                color: transparent;
                font-size: 0;
            }

            .intro__social {
                text-align: right;

                a {
                    font-family: 'Maison Neue';
                    font-weight: 900;
                    text-decoration: none;
                    transition: color 125ms $ease-out-expo;

                    &:hover {
                        color: $gold;
                    }
                }
            }
        }

        &--acknowledgements {
            .acknowledgements__category {
                margin-bottom: 50px;

                .category__item {
                    .item__title {
                        margin: 0;

                        ul {
                            margin: 0;

                            li {
                                color: $gold;

                                &:before {
                                    content: '—';
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    .item__content {
                        margin-bottom: 20px;
                        margin-top: 0px;
                    }
                }

                .category__title {
                    font-size: 18px;
                    margin-bottom: 30px;
                    margin-top: 0;
                }

                &--partners {
                    img {
                        margin-bottom: 30px;
                    }
                }

                &--block {
                    margin-bottom: 0;

                    p {
                        margin-bottom: 30px;
                        text-align: justify;
                    }
                }
            }
        }

        &--intro,
        &--experiment {
            margin-bottom: 75px;

            p {
                font-size: 14px;
                line-height: 1.85em;
                margin-top: 0;
                text-align: center;
            }
        }
    }
}
