@font-face {
    font-family: 'Maison Neue Mono';
    src: url('../../fonts/maison-neue/maison-neue-mono.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/maison-neue/maison-neue-mono.woff') format('woff'),
         url('../../fonts/maison-neue/maison-neue-mono.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Maison Neue Mono';
    src: url('../../fonts/maison-neue/maison-neue-mono-italic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/maison-neue/maison-neue-mono-italic.woff') format('woff'),
         url('../../fonts/maison-neue/maison-neue-mono-italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}
