@import '../../scss/utils/variables';

.wrapper__video-layer {
	background-color: $black;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	transform: translateX(-105%);
	width: 100%;
	z-index: 2;

	.btn--close {
		display: block;
		height: 40px;
		left: 20px;
		padding: 0;
		position: absolute;
		top: 20px;
		width: 40px;
		z-index: 99;

		svg {
			display: block;
			fill: $white;
			height: 15px;
			margin: 0 auto;
			width: 15px;
		}
	}

	iframe {
		height: 100%;
		width: 100%;
		z-index: 1;
	}
}
