.wrapper__load-layer {
	background-color: $black;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 10;

	.load__progress {
		background-color: $white;
		height: 100%;
		width: 100%;
		transform: translateX(-105%);
	}
}
